.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
  background-color:#F8F9FA;
}

#navigate{
  padding:30px 30px 15px 30px;
  background-color:#F8F9FA;
}
.division {
  position: relative;
  height: 100vh;
  display: flex;
  /* margin-top:60px; */
  /* align-items: center; */
  /* justify-content: center; */
}

.parallax-ma::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transform: translateZ(-1px) scale(2); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  z-index: -1;
  background-image: url("../assets/overlay/2overlay.png");
}

.parallax-iso::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  z-index: -1;
  opacity: 0.1;
  background-image: url("../assets/overlay/1overlay.gif");
}

.parallax-whack::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  width:100%;
  z-index: -1;
  background-image: url("../assets/overlay/3overlay2.png");
}

.content {
  /* height: 200vh;
  display: flex;
  justify-content: flex-start; */
  background-color: white;
  padding:15px;
  padding-top:50px;
}

.caption{
  color:#9B9B9B;
}

h2, h3 {
  color:#423F40;
  padding-bottom:20px;
  /* font-weight: bold; */
}

h4 {
  color:#9B9B9B;
  padding-bottom:20px;
}

h5{
  color: #423F40;
}

.section {
  padding: 150px 0;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.xshadow{
  box-shadow:none;
}

.image-link:hover img{
  box-shadow: 0 0 10px #9B9B9B; 
  -webkit-box-shadow: 0 0 10px #9B9B9B; 
}


img {
  /* box-shadow: 0 3px 20px rgba(0,0,0,0.09); */
  border-radius: 3px;
}

img, #carousel {
  margin: 30px 0;
}

hr {
  margin: 150px 0 50px 0;
}

hr.underline {
  margin: 15px 65px 0 65px;
  border-top: 3px solid rgba(0,0,0,0.7);
}

figcaption{
  font-size:0.75rem;
  margin-top:-10px;
}

.feature-title {
  font-weight:bold;
}

/*ionicon*/
.feature-sign {
    font-size:2.5rem;
    color:#423F40;
}

.icon-size{
  font-size:1.3rem;
  color:#423F40;
}

.sign{
  font-size:30px;
  color:#423F40;
}


/* carousel fit size */

.fit-slides {
  width:100%;
  height:450px;
}

.fit-img{
  width:100%;
  height:70px;
}
/*
@media screen and (min-device-width: 768px) {
  .feature-title {color:red;}
}*/

@media (max-width: 768px) {
  .parallax-whack::after{
    background-image:none;
  }
  .division{
    height:200vh;
  }
}
footer{
  margin:15px;
  padding-top:50px;
}



