body {
  font-family: 'Roboto', Helvetica,  Arial, sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.33;
  color: #423F40;
}

/* nav bar */
.component{
  margin:30px;
  padding-bottom:30px;
}

.flex-container{
  display:flex;
  display:-webkit-flex;
  align-items:stretch;
}

.sub-links, .sub-links:after{
  color: #9B9B9B;
  text-decoration:none;
}

.brand{
  color: #423F40;
  /* text-decoration:none; */
}

.active, .sub-links:hover, .brand:hover{
  color: #FF4407;
  text-decoration:none;
}

img, video {
  width: 100%;
}

.title{
  padding-bottom:15px;
}
/* project links */
.hover-effect, .hover-effect:visited{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: inherit;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 2.4px;
  color: #423F40;
  margin-left:30px;
}

.hover-effect {
  /* -webkit-text-stroke-width: 0;
  -webkit-text-fill-color: #423F40; */
    /* background-color:#FF4407; */
  text-decoration:none;
  position :relative;
  z-index :1;
  text-decoration :none;
  transition :150ms ease;
}

.hover-effect:before {
    content:"";
    position :absolute;
    top :0.2em;
    right :-0.2em;
    bottom :0.2em;
    left :-0.2em;
    display :inline-block;
    z-index :-1;
    opacity :0;
    /* background-color:rgba(0,0,0,0.02); */
    transform :scale(1,0.1);
    -webkit-transform :scale(1,0.1);
    transition :150ms ease;
}

.hover-effect:hover{
  /* border-bottom-color :transparent;
  -webkit-text-stroke-width: 0; */
  -webkit-text-fill-color: #FF4407;
  text-decoration:none;
}

.hover-effect:hover:before{
  opacity :1;
  -webkit-transform :scale(1,1);
  transform :scale(1,1);
}

.work-type{
  color:#9B9B9B;
  margin-left:30px;
}

/* Hover Effect */
.overlay {
  visibility: hidden;
  position: fixed;
  width: 50%;
  height: 50%;
  transition: opacity 0.2s;
  opacity: 0;
  right: 0px;
  top: 50px;
  z-index: 0;
  pointer-events: none;
}

.overlay.overlay-visible {
  opacity: 1;
}

.overlay-visible{
  visibility:visible;
  top:-150px;
}

/* about page */
hr {
  margin: 30px 0;
}

hr.underline {
  margin: 15px 65px 0 65px;
  border-top: 3px solid rgba(0,0,0,0.7);
}

/* footer */
.small-text {
  color: #9B9B9B;
}

footer{
  margin:30px;
}

/* responsive */
@media (min-width: 1200px) {

}

@media (min-width: 992px) {
  /* header {
    padding: 156px 0 100px;
  } */
}

@media (min-width: 768px) {

}

@media (min-width: 576px) {
  .about-row{
    display:flex;
    width:100%;
  }
  .column-half{
    width:50%;
  }
}
/* **************************** */
